- publications.each do |pub|
  %div
    = image_tag 'fileicon.png', :class => 'pull-left', :size => '80x80'
    %h2= link_to truncate(pub.title, :length => 60), pub
    %div
      = pub.authors
      = pub.source
      = pub.reference
  %hr


