.publication
  = image_tag 'fileicon.png', :class => 'pull-left', :size => '200x200'
  %div{:style => 'text-align:right'}

    %h1= publication.title
    %h2= publication.reference
    %h3= publication.authors

%br
%hr
.row
  .columns.span8
    - publication.popular_highlights.each do |highlight|
      - justification = cycle('left', 'left')
      %pre.highlight{:style => "text-align:#{justification}; float:#{justification}"}
        .pull-left= "(#{highlight.score})"
        %code{:style => "text-align:#{justification}"}
          = image_tag 'fileicon.png', :class => 'pull-left', :size => '80x80', :style => "float:#{justification}", :alt => highlight.text
          = "\"#{highlight.text}\""
          .pull-right= highlight.id

  .columns.span7
    %br{:style => "clear:both"}
    %hr

    - publication.highlights.each do |highlight|
      - justification = cycle('left', 'left')
      %pre.highlight{:style => "width:90%; background-color: #777; text-align:#{justification}; float:#{justification}"}
        %div{:style => "text-align:#{justification}"}
          = image_tag 'fileicon.png', :class => 'pull-left', :size => '80x80', :style => "float:#{justification}", :alt => highlight.text
          = highlight.text
        %small.pull-right= "(#{highlight.score})"
        .pull-right= highlight.id
        .pull-right= "[#{highlight.fragment_bounding_box.origin_x.to_i},#{highlight.fragment_bounding_box.origin_y.to_i}]"
        .pull-right= "[#{highlight.fragment_bounding_box.end_x.to_i},#{highlight.fragment_bounding_box.end_y.to_i}]"

